# Servidor
PORT=3000

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=salud_plus_360

# JWT
JWT_SECRET=cambia-esto-por-un-secreto-real
JWT_EXPIRES_IN=1d
